FROM python:3.7-alpine

RUN mkdir -p bin
COPY {main_executable} bin/
RUN chmod +x {main_executable}

{{binaries}}
COPY {.} bin/
RUN chmod +x {.}
{{/binaries}}

{{pip_packages}}
RUN pip install {.}
{{/pip_packages}}

CMD ["./{main_executable}"]
