#!/bin/bash

if [ ! -d "/etc/systemd/user" ]; then
  echo 'Systemd not installed'
  exit
fi

mkdir -p /usr/local/bin/
if test -f "/usr/local/bin/{executable}"; then
  echo 'binary already exists'
  exit
fi

cp bin/{executable} /usr/local/bin/{executable}
cp {service_file} /etc/systemd/system/

echo 'setup complete'