FROM python:3.7-alpine

{{args}}
LABEL {.}
{{/args}}

{{pip_packages}}
RUN pip install {.}
{{/pip_packages}}

{{alpine_packages}}
RUN apk add --no-cache {.}
{{/alpine_packages}}

{{environment}}
ENV {.}
{{/environment}}

{{ports}}
EXPOSE {.}/tcp
EXPOSE {.}/udp
{{/ports}}

{{binaries}}
COPY {.} bin/
RUN chmod +x {.}
{{/binaries}}

RUN mkdir -p bin
COPY {main_executable} ./
RUN chmod +x {main_executable}

CMD ["modprobe", "fuse"]
CMD ["./{main_executable}"]
